@inherits LayoutComponentBase
<nav>
    <NavLink href="all-reviews">All Reviews</NavLink> |
    <NavLink href="review-summary">Summary</NavLink> |
    <NavLink href="login">Login</NavLink>
</nav>
<main>
    @Body
</main>
